In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

Duplicate key in file '/Users/seunghyun/.matplotlib/matplotlibrc' line #2.
Duplicate key in file '/Users/seunghyun/.matplotlib/matplotlibrc' line #3.

In [2]:
# 한국어 표시를 위해 나눔스퀘어 사용
# matplotlib 폰트설정
plt.rc('font', family='NanumSquareOTF') # For MacOS

NameError: name 'plt' is not defined

In [3]:
station = pd.read_csv('busan_tube_station.csv', encoding = 'CP949')
station.head()

,역코드,역명,영문,전화번호,역주소,환승주차장,자전거보관소,물품보관함,자동사진기,도시철도경찰대,섬식형(아일랜드형),엘리베이터,역명및 지명유래
0,95,다대포해수욕장역,Dadaepo Beach,051-678-6195,부산광역시 사하구 다대로 지하 692,NaN,O,O,NaN,NaN,NaN,O,큰 포구가 많은 바다라는 데서 비롯되며 일본서기에는 다다라(多多羅)로 기록되어 있다...
1,96,다대포항역,Dadaepo Harbor,051-678-6196,부산광역시 사하구 다대로 지하 548,NaN,O,O,NaN,NaN,NaN,O,1971년 제1종 어항(지금의 국가어항)으로 지정되면서 개발되기 시작하여 1995년...
2,97,낫개역,Natgae,051-678-6197,부산광역시 사하구 다대로 지하 422,NaN,O,NaN,NaN,NaN,NaN,O,멸치잡이로 유명했던 옛날의 낫개 포구를 그대로 사용
3,98,신장림역,Sinjangnim,051-678-6198,부산광역시 사하구 다대로 지하 310,NaN,O,NaN,NaN,NaN,NaN,O,지명은 숲이 우거지고 지형적으로 길게 늘어선 동네라는 뜻에서 유래되었다. 안장림 ...
4,99,장림역,Jangnim,051-618-6199,부산광역시 사하구 다대로 지하 230,NaN,O,NaN,NaN,NaN,NaN,O,지명은 숲이 우거지고 지형적으로 길게 늘어선 동네라는 뜻에서 유래되었다. 안장림 ·...

In [4]:
station2 = station[['역코드','역명','역주소']]
station2 = station2.rename(columns = {'역코드':'역번호'})
adress_split = station2['역주소'].str.split(" ")
station2["구"] = adress_split.str.get(1)
station2['구']

0       사하구
1       사하구
2       사하구
3       사하구
4       사하구
       ...
109    해운대구
110    해운대구
111    해운대구
112     기장군
113     기장군
Name: 구, Length: 114, dtype: object

In [5]:
station2 = station2[['역번호', '역명','구']]
station2

     역번호        역명     구
0     95  다대포해수욕장역   사하구
1     96     다대포항역   사하구
2     97       낫개역   사하구
3     98      신장림역   사하구
4     99       장림역   사하구
..   ...       ...   ...
109  410        석대  해운대구
110  411       영산대  해운대구
111  412     동부산대학  해운대구
112  413        고촌   기장군
113  414        안평   기장군

[114 rows x 3 columns]

In [6]:
#역이름 통일 : 뒷글자'역'제거

station2['역명'] = station2['역명'].str.replace('역','')

In [7]:
#역명 추가 수정 딕셔너리
di = {'부산':'부산역', '서면(1)':'1서면','연산(1)':'1연산','동래(1)':'1동래',
      '시립미술관':'벡스코','수영':'수영','경성대·부경대':'경성대부경대',
      '국제금융센터·부산은행':'국제금융센터','서면(2)':'2서면','덕천(2)':'2덕천',
      '부산대 양산캠퍼스':'부산대양산', '연산(3)':'3연산', '미남(3)':'미남', '미남(4)':'미남',
      '덕천(3)':'3덕천', '동래(4)':'4동래', '반여농산물시장':'반여농산물','동부산대학':'동부산대',
      '수영':'수영', '수영(2)':'수영', '사상(2)':'사상'}

#역명수정
station2["역명"].replace(di, inplace=True)

station2

     역번호       역명     구
0     95  다대포해수욕장   사하구
1     96     다대포항   사하구
2     97       낫개   사하구
3     98      신장림   사하구
4     99       장림   사하구
..   ...      ...   ...
109  410       석대  해운대구
110  411      영산대  해운대구
111  412     동부산대  해운대구
112  413       고촌   기장군
113  414       안평   기장군

[114 rows x 3 columns]

In [8]:
busan_pre = pd.read_csv('busan_pre.csv', encoding = 'CP949', lineterminator='\n', thousands = ',')
busan_pre['합계'] = busan_pre.sum(axis=1)

#월만 남기기
date_split = busan_pre['년월일'].str.split("-")
busan_pre["년월"] = date_split.str.get(0) + "-" + date_split.str.get(1)
busan_pre

,역번호,역명,년월일,구분,합계,1시,2시,3시,4시,5시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,년월
0,95,다대포해수욕장,2020-01-01,승차,14641,0,0,0,20,23,...,376,374,277,158,102,84,75,17,0,2020-01
1,95,다대포해수욕장,2020-01-01,하차,13457,6,4,0,1,64,...,347,280,186,153,121,108,96,81,63,2020-01
2,95,다대포해수욕장,2020-01-02,승차,9735,0,0,0,23,66,...,352,363,264,134,136,59,91,16,0,2020-01
3,95,다대포해수욕장,2020-01-02,하차,7553,0,0,0,2,22,...,302,303,375,267,168,146,137,80,51,2020-01
4,95,다대포해수욕장,2020-01-03,승차,9907,0,0,0,20,62,...,354,348,323,163,120,101,101,21,0,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47707,414,안평,2020-07-29,하차,3984,0,0,0,1,3,...,105,153,188,117,80,68,66,31,12,2020-07
47708,414,안평,2020-07-30,승차,3998,0,0,0,3,19,...,104,141,141,38,35,37,12,5,0,2020-07
47709,414,안평,2020-07-30,하차,3890,0,0,0,1,2,...,119,151,172,117,71,53,55,39,23,2020-07
47710,414,안평,2020-07-31,승차,4346,0,0,0,4,26,...,138,151,177,83,35,31,10,10,0,2020-07
47711,414,안평,2020-07-31,하차,4208,0,0,0,0,0,...,141,164,165,111,86,67,78,40,32,2020-07

In [9]:
#승하차 정보에 구 정보 추가
merge_df = pd.merge(station2, busan_pre, how='right')
merge_df

,역번호,역명,구,년월일,구분,합계,1시,2시,3시,4시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,년월
0,95,다대포해수욕장,사하구,2020-01-01,승차,14641,0,0,0,20,...,376,374,277,158,102,84,75,17,0,2020-01
1,95,다대포해수욕장,사하구,2020-01-01,하차,13457,6,4,0,1,...,347,280,186,153,121,108,96,81,63,2020-01
2,95,다대포해수욕장,사하구,2020-01-02,승차,9735,0,0,0,23,...,352,363,264,134,136,59,91,16,0,2020-01
3,95,다대포해수욕장,사하구,2020-01-02,하차,7553,0,0,0,2,...,302,303,375,267,168,146,137,80,51,2020-01
4,95,다대포해수욕장,사하구,2020-01-03,승차,9907,0,0,0,20,...,354,348,323,163,120,101,101,21,0,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47707,414,안평,기장군,2020-07-29,하차,3984,0,0,0,1,...,105,153,188,117,80,68,66,31,12,2020-07
47708,414,안평,기장군,2020-07-30,승차,3998,0,0,0,3,...,104,141,141,38,35,37,12,5,0,2020-07
47709,414,안평,기장군,2020-07-30,하차,3890,0,0,0,1,...,119,151,172,117,71,53,55,39,23,2020-07
47710,414,안평,기장군,2020-07-31,승차,4346,0,0,0,4,...,138,151,177,83,35,31,10,10,0,2020-07
47711,414,안평,기장군,2020-07-31,하차,4208,0,0,0,0,...,141,164,165,111,86,67,78,40,32,2020-07

In [10]:
#구NaN인 데이터 확인
merge_df_nan = merge_df[merge_df['구'].isnull()]
merge_df_nan['역명'].unique()

array([], dtype=object)

In [11]:
#구 NaN데이터 역명 보기 (dic 만들기 위해 station2 역명 찾기용)
station2.loc[station2['역명'].str.contains('사상')]

    역번호  역명    구
66  227  사상  사상구

In [12]:
#필요데이터만 남기기
merge_df = merge_df.filter(['역명', '구', '년월', '합계' ])
merge_df

            역명    구       년월     합계
0      다대포해수욕장  사하구  2020-01  14641
1      다대포해수욕장  사하구  2020-01  13457
2      다대포해수욕장  사하구  2020-01   9735
3      다대포해수욕장  사하구  2020-01   7553
4      다대포해수욕장  사하구  2020-01   9907
...        ...  ...      ...    ...
47707       안평  기장군  2020-07   3984
47708       안평  기장군  2020-07   3998
47709       안평  기장군  2020-07   3890
47710       안평  기장군  2020-07   4346
47711       안평  기장군  2020-07   4208

[47712 rows x 4 columns]

In [13]:
#구별, 년월 합계
gu_sum = merge_df.groupby(['년월','구']).sum()
gu_sum = pd.DataFrame(gu_sum).reset_index()
gu_sum = gu_sum.rename({'합계':'구별-월-승하차인원'}, axis=1)
gu_sum

          년월     구  구별-월-승하차인원
0    2020-01   강서구     1297130
1    2020-01   금정구     9230310
2    2020-01   기장군      353168
3    2020-01    남구     5315064
4    2020-01    동구     7229150
..       ...   ...         ...
107  2020-07   수영구     5150358
108  2020-07   양산시     2028842
109  2020-07   연제구     8567538
110  2020-07    중구     4894316
111  2020-07  해운대구     8295182

[112 rows x 3 columns]

In [16]:
#구별, 년월, 최대승하차역
gu_max = merge_df.groupby(['년월','구']).max()
gu_max = pd.DataFrame(gu_max).reset_index()
gu_max = gu_max.rename({'합계':'최대역-승하차인원','역명':'최대승하차역'}, axis=1)
gu_max

          년월     구 최대승하차역  최대역-승하차인원
0    2020-01   강서구   체육공원      20123
1    2020-01   금정구     장전      41776
2    2020-01   기장군     안평       4876
3    2020-01    남구    지게골      40812
4    2020-01    동구     초량      56331
..       ...   ...    ...        ...
107  2020-07   수영구     수영      32312
108  2020-07   양산시     호포      12889
109  2020-07   연제구  종합운동장      42845
110  2020-07    중구     중앙      40033
111  2020-07  해운대구    해운대      37868

[112 rows x 4 columns]

In [17]:
#표 하나로 합치기
result = pd.merge(gu_sum, gu_max)
result

          년월     구  구별-월-승하차인원 최대승하차역  최대역-승하차인원
0    2020-01   강서구     1297130   체육공원      20123
1    2020-01   금정구     9230310     장전      41776
2    2020-01   기장군      353168     안평       4876
3    2020-01    남구     5315064    지게골      40812
4    2020-01    동구     7229150     초량      56331
..       ...   ...         ...    ...        ...
107  2020-07   수영구     5150358     수영      32312
108  2020-07   양산시     2028842     호포      12889
109  2020-07   연제구     8567538  종합운동장      42845
110  2020-07    중구     4894316     중앙      40033
111  2020-07  해운대구     8295182    해운대      37868

[112 rows x 5 columns]

In [18]:
#저장
result.to_csv("busan_result", encoding = 'utf-8-sig')