In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

Duplicate key in file '/Users/seunghyun/.matplotlib/matplotlibrc' line #2.
Duplicate key in file '/Users/seunghyun/.matplotlib/matplotlibrc' line #3.

In [2]:
# 한국어 표시를 위해 나눔스퀘어 사용
# matplotlib 폰트설정
plt.rc('font', family='NanumSquareOTF') # For MacOS

NameError: name 'plt' is not defined

In [3]:
station = pd.read_csv('daegu_station.csv', encoding = 'CP949')
station.head()

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
0,115,설화명곡,S2701,대구 도시철도 1호선,SeolhwaMyeonggok,舌化椧谷,일반역,NaN,NaN,35.798718,128.489318,대구광역시 대구도시철도공사,대구광역시 달성군 화원읍 비슬로 2476,053-643-2674,2020-06-18
1,116,화원,S2701,대구 도시철도 1호선,Hwawon,花園,일반역,NaN,NaN,35.804357,128.500404,대구광역시 대구도시철도공사,대구광역시 달성군 화원읍 비슬로 지하2600,053-643-5125,2020-06-18
2,117,대곡,S2701,대구 도시철도 1호선,Daegok,大谷,일반역,NaN,NaN,35.809497,128.510391,대구광역시 대구도시철도공사,대구광역시 달서구 비슬로 지하2718 (대곡동),053-644-7723,2020-06-18
3,118,진천,S2701,대구 도시철도 1호선,Jincheon,辰泉,일반역,NaN,NaN,35.813826,128.520397,대구광역시 대구도시철도공사,대구광역시 달서구 월배로 지하76 (진천동),053-642-7723,2020-06-18
4,119,월배,S2701,대구 도시철도 1호선,Wolbae,月背,일반역,NaN,NaN,35.816276,128.528392,대구광역시 대구도시철도공사,대구광역시 달서구 월배로 지하143 (진천동),053-642-7732,2020-06-18

In [4]:
station2 = station[['역번호','역사명','역사도로명주소']]
station2.columns = ['역번호', '역명', '역주소']
adress_split = station2['역주소'].str.split(" ")
station2["구"] = adress_split.str.get(1)
station2['구']
station2

    역번호    역명                         역주소    구
0   115  설화명곡      대구광역시 달성군 화원읍 비슬로 2476  달성군
1   116    화원    대구광역시 달성군 화원읍 비슬로 지하2600  달성군
2   117    대곡  대구광역시 달서구 비슬로 지하2718 (대곡동)  달서구
3   118    진천    대구광역시 달서구 월배로 지하76 (진천동)  달서구
4   119    월배   대구광역시 달서구 월배로 지하143 (진천동)  달서구
..  ...   ...                         ...  ...
86  337   황 금     대구광역시 수성구 동대구로 100(두산동)  수성구
87  338   수성못      대구광역시 수성구 동대구로 14(지산동)  수성구
88  339   지 산      대구광역시 수성구 지범로 100(지산동)  수성구
89  340   범 물      대구광역시 수성구 지범로 194(범물동)  수성구
90  341   용 지       대구광역시 수성구 범안로 83(범물동)  수성구

[91 rows x 4 columns]

In [5]:
station2 = station2[['역명','구']]

#공백 제거
station2['역명'] = station2['역명'].str.replace(" ","")
station2

      역명    구
0   설화명곡  달성군
1     화원  달성군
2     대곡  달서구
3     진천  달서구
4     월배  달서구
..   ...  ...
86    황금  수성구
87   수성못  수성구
88    지산  수성구
89    범물  수성구
90    용지  수성구

[91 rows x 2 columns]

In [17]:
#역명 추가 수정 딕셔너리
di = {'대구':'대구역', '동대구':'동대구역'}


#역명수정
station2["역명"].replace(di, inplace=True)

station2

      역명    구
0   설화명곡  달성군
1     화원  달성군
2     대곡  달서구
3     진천  달서구
4     월배  달서구
..   ...  ...
86    황금  수성구
87   수성못  수성구
88    지산  수성구
89    범물  수성구
90    용지  수성구

[91 rows x 2 columns]

In [18]:
#승하차데이터 읽어오기
daegu_pre = pd.read_csv('daegu_pre.csv', encoding = 'CP949', lineterminator='\n', thousands = ',')
daegu_pre['합계'] = daegu_pre.sum(axis=1)

#월만 남기기
date_split = daegu_pre['년월일'].str.split("-")
daegu_pre["년월"] = date_split.str.get(0) + "-" + date_split.str.get(1)
daegu_pre

,월,일,역번호,역명,구분,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,합계,년월일,년월
0,1,1,1150,설화명곡,승차,45,55,81,128,152,...,208,201,109,94,64,38,4,6862,2020-01-01,2020-01
1,1,1,1150,설화명곡,하차,3,114,63,70,85,...,245,242,188,189,197,145,111,6546,2020-01-01,2020-01
2,1,1,1160,화원,승차,29,41,45,95,158,...,181,152,83,97,60,38,10,6414,2020-01-01,2020-01
3,1,1,1160,화원,하차,1,80,52,62,89,...,230,227,179,104,146,102,82,6668,2020-01-01,2020-01
4,1,1,1170,대곡,승차,44,80,97,152,222,...,300,223,168,96,119,64,22,9038,2020-01-01,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38761,7,31,3390,지산,하차,2,28,48,133,77,...,196,261,156,85,66,68,54,7448,2020-07-31,2020-07
38762,7,31,3400,범물,승차,51,81,298,345,253,...,232,223,155,102,106,77,23,10986,2020-07-31,2020-07
38763,7,31,3400,범물,하차,12,47,71,196,180,...,372,407,245,180,146,133,108,10990,2020-07-31,2020-07
38764,7,31,3410,용지,승차,28,62,126,177,143,...,106,124,57,47,43,14,6,7340,2020-07-31,2020-07
38765,7,31,3410,용지,하차,6,42,70,181,103,...,156,170,106,97,64,51,38,7296,2020-07-31,2020-07

In [19]:
#승하차 정보에 구 정보 추가
merge_df = pd.merge(station2, daegu_pre, how='right')
merge_df

,역명,구,월,일,역번호,구분,5시,6시,7시,8시,...,17시,18시,19시,20시,21시,22시,23시,합계,년월일,년월
0,설화명곡,달성군,1,1,1150,승차,45,55,81,128,...,208,201,109,94,64,38,4,6862,2020-01-01,2020-01
1,설화명곡,달성군,1,1,1150,하차,3,114,63,70,...,245,242,188,189,197,145,111,6546,2020-01-01,2020-01
2,설화명곡,달성군,1,2,1150,승차,59,115,457,520,...,390,485,179,103,90,37,16,11169,2020-01-02,2020-01
3,설화명곡,달성군,1,2,1150,하차,2,99,222,235,...,398,390,338,222,219,249,131,9273,2020-01-02,2020-01
4,설화명곡,달성군,1,3,1150,승차,56,125,432,559,...,457,552,211,152,105,55,12,11782,2020-01-03,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38761,명덕3,NaN,7,29,3310,하차,3,36,263,358,...,142,207,101,53,40,32,17,8116,2020-07-29,2020-07
38762,명덕3,NaN,7,30,3310,승차,13,19,58,129,...,177,233,119,107,120,135,48,8203,2020-07-30,2020-07
38763,명덕3,NaN,7,30,3310,하차,4,32,257,402,...,165,232,125,74,55,40,23,8387,2020-07-30,2020-07
38764,명덕3,NaN,7,31,3310,승차,12,24,66,118,...,202,225,136,87,110,153,54,8726,2020-07-31,2020-07
38765,명덕3,NaN,7,31,3310,하차,9,42,255,423,...,162,277,122,80,59,43,27,8654,2020-07-31,2020-07

In [20]:
#구NaN인 데이터 확인
merge_df_nan = merge_df[merge_df['구'].isnull()]
merge_df_nan['역명'].unique()

array(['서부정류장', '명덕1', '반월당1', '청라언덕2', '반월당2', '청라언덕3', '명덕3'],
      dtype=object)

In [21]:
#구 NaN데이터 역명 보기 (dic 만들기 위해 station2 역명 찾기용)
station2.loc[station2['역명'].str.contains('반월당')]

     역명   구
15  반월당  중구
46  반월당  중구

In [23]:
#구NaN 채우기: 
merge_df.loc[merge_df['역명'] == '서부정류장', '구'] = '남구'
merge_df.loc[merge_df['역명'] == '명덕1', '구'] = '중구'
merge_df.loc[merge_df['역명'] == '반월당1', '구'] = '중구'
merge_df.loc[merge_df['역명'] == '청라언덕2', '구'] = '중구'
merge_df.loc[merge_df['역명'] == '반월당2', '구'] = '중구'
merge_df.loc[merge_df['역명'] == '청라언덕3', '구'] = '중구'
merge_df.loc[merge_df['역명'] == '명덕3', '구'] = '남구'

In [26]:
#구NaN인 데이터 확인 :0으로 확인
merge_df_nan = merge_df[merge_df['구'].isnull()]
merge_df_nan['역명'].unique()

merge_df

,역명,구,월,일,역번호,구분,5시,6시,7시,8시,...,17시,18시,19시,20시,21시,22시,23시,합계,년월일,년월
0,설화명곡,달성군,1,1,1150,승차,45,55,81,128,...,208,201,109,94,64,38,4,6862,2020-01-01,2020-01
1,설화명곡,달성군,1,1,1150,하차,3,114,63,70,...,245,242,188,189,197,145,111,6546,2020-01-01,2020-01
2,설화명곡,달성군,1,2,1150,승차,59,115,457,520,...,390,485,179,103,90,37,16,11169,2020-01-02,2020-01
3,설화명곡,달성군,1,2,1150,하차,2,99,222,235,...,398,390,338,222,219,249,131,9273,2020-01-02,2020-01
4,설화명곡,달성군,1,3,1150,승차,56,125,432,559,...,457,552,211,152,105,55,12,11782,2020-01-03,2020-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38761,명덕3,남구,7,29,3310,하차,3,36,263,358,...,142,207,101,53,40,32,17,8116,2020-07-29,2020-07
38762,명덕3,남구,7,30,3310,승차,13,19,58,129,...,177,233,119,107,120,135,48,8203,2020-07-30,2020-07
38763,명덕3,남구,7,30,3310,하차,4,32,257,402,...,165,232,125,74,55,40,23,8387,2020-07-30,2020-07
38764,명덕3,남구,7,31,3310,승차,12,24,66,118,...,202,225,136,87,110,153,54,8726,2020-07-31,2020-07
38765,명덕3,남구,7,31,3310,하차,9,42,255,423,...,162,277,122,80,59,43,27,8654,2020-07-31,2020-07

In [27]:
#필요데이터만 남기기
merge_df = merge_df.filter(['역명', '구', '년월', '합계' ])
merge_df

         역명    구       년월     합계
0      설화명곡  달성군  2020-01   6862
1      설화명곡  달성군  2020-01   6546
2      설화명곡  달성군  2020-01  11169
3      설화명곡  달성군  2020-01   9273
4      설화명곡  달성군  2020-01  11782
...     ...  ...      ...    ...
38761   명덕3   남구  2020-07   8116
38762   명덕3   남구  2020-07   8203
38763   명덕3   남구  2020-07   8387
38764   명덕3   남구  2020-07   8726
38765   명덕3   남구  2020-07   8654

[38766 rows x 4 columns]

In [36]:
#구별, 년월 합계
gu_sum = merge_df.groupby(['년월','구']).sum()
gu_sum = pd.DataFrame(gu_sum).reset_index()
gu_sum = gu_sum.rename({'합계':'구별-월-승하차인원'}, axis=1)
gu_sum

         년월    구  구별-월-승하차인원
0   2020-01  경산시      918340
1   2020-01   남구     2595592
2   2020-01  달서구     5786574
3   2020-01  달성군     1294610
4   2020-01   동구     3864542
..      ...  ...         ...
76  2020-12   동구     2398920
77  2020-12   북구     2084526
78  2020-12   서구      434926
79  2020-12  수성구     2702540
80  2020-12   중구     3055182

[81 rows x 3 columns]

In [37]:
#구별, 년월, 최대승하차역
gu_max = merge_df.groupby(['년월','구']).max()
gu_max = pd.DataFrame(gu_max).reset_index()
gu_max = gu_max.rename({'합계':'최대역-승하차인원','역명':'최대승하차역'}, axis=1)
gu_max

         년월    구 최대승하차역  최대역-승하차인원
0   2020-01  경산시     정평      17915
1   2020-01   남구    현충로      23645
2   2020-01  달서구     진천      31765
3   2020-01  달성군     화원      18485
4   2020-01   동구     해안      46379
..      ...  ...    ...        ...
76  2020-12   동구     해안      49546
77  2020-12   북구     학정      23184
78  2020-12   서구     원대      12164
79  2020-12  수성구     황금      21998
80  2020-12   중구  청라언덕3      61852

[81 rows x 4 columns]

In [38]:
#표 하나로 합치기
result = pd.merge(gu_sum, gu_max, how='outer')
result

         년월    구  구별-월-승하차인원 최대승하차역  최대역-승하차인원
0   2020-01  경산시      918340     정평      17915
1   2020-01   남구     2595592    현충로      23645
2   2020-01  달서구     5786574     진천      31765
3   2020-01  달성군     1294610     화원      18485
4   2020-01   동구     3864542     해안      46379
..      ...  ...         ...    ...        ...
76  2020-12   동구     2398920     해안      49546
77  2020-12   북구     2084526     학정      23184
78  2020-12   서구      434926     원대      12164
79  2020-12  수성구     2702540     황금      21998
80  2020-12   중구     3055182  청라언덕3      61852

[81 rows x 5 columns]

In [39]:
#저장
result.to_csv("daegu_result", encoding = 'utf-8-sig')